@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("http://www.lispworks.com/documentation/HyperSpec/"),
    url-prefix("http://localhost/jmr/hyperspec/") {

    html {
        background: #b9eeff;
        padding: 0;
        margin: 0;
        
    }   
    
    body {  
        background: white;
        padding: 10px 20px;
        width: 80%;
        margin: 5px auto;
        height: auto;
        color: #31418c;
        font-family: "Bitstream vera sans", Verdana, Georgia, sans-serif;
        font-size: 0.9em;
        border-radius: 8px;
        
    }
    
    h2 {
        color: #31418c;
        font-size: 1.1em;
        padding: 5px;
        background: linear-gradient(45deg, #80e1ff, white 50%);
    }
    
    a > i {
        font-style: normal;
    }
    
    a, a:link {
        color: #A65800 !important;
        text-decoration: none !important;
    }
    
    a:hover {
        text-decoration: underline !important;
    }
    
    a[name]:hover {
        text-decoration: none !important;
    }
    
    a:visited {
        color: #BF7C30 !important;
    }
    
    p > b {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9em;
    }
    
    pre {
        background: #31418c;
        color: #80e1ff;
        padding: 10px;
        border: 1px solid #80e1ff;
        border-radius: 8px;
        font-family: monospace;
        font-size: 1.2em;
    }
    
    pre a:link, pre a {
        color: #ffbf7b !important; 
    }
    
    a > img {
        margin-right: 0.5em;
    }

    p {
        /*border: 1px solid blue;*/
    }
    
    ul, ol {
        list-style: none !important;  
    }
    
    ol {
        counter-reset: n;
    }
    
    ul li:before {
        font-size: 0.85em;
        vertical-align: middle;
        content: "(λ) ";
        color: #BF7C30;
    }
    
    ol li:before {
        counter-increment: n;
        content: "(" counter(n) ") ";
    }
    
    hr {
        border-bottom: 2px dashed #b9eeff;
        border-top: none;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    tt {
        font-family: monospace;
        font-size: 1.2em;
    }
    
    a[rel=COPYRIGHT] {
        display: block;
        margin-top: 30px;
    }

    li a[rel=COPYRIGHT] {
        display: inline;
        margin-top: 0;
    }
    
    blockquote {
        background: #b9eeff;
        border-radius: 8px;
        padding: 5px;
        text-align: center;
    }

    a[name] {
        color: #31418c !important;
    }
}
